In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,The Pas,CA,2022-08-19 14:54:52,53.8251,-101.2541,68.02,83,0,0.00
1,1,Cape Town,ZA,2022-08-19 14:54:11,-33.9258,18.4232,58.10,81,75,18.41
2,2,Yellowknife,CA,2022-08-19 14:54:53,62.4560,-114.3525,57.72,77,75,0.00
3,3,Rikitea,PF,2022-08-19 14:54:53,-23.1203,-134.9692,71.60,74,79,5.44
4,4,Albany,US,2022-08-19 14:50:45,42.6001,-73.9662,79.63,63,25,6.53

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# cloudiness of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# wind speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Albany,US,2022-08-19 14:50:45,42.6001,-73.9662,79.63,63,25,6.53
13,13,Sao Filipe,CV,2022-08-19 14:54:56,14.8961,-24.4956,78.10,78,92,8.16
24,24,Atuona,PF,2022-08-19 14:55:05,-9.8000,-139.0333,76.60,73,48,19.48
27,27,Pombas,CV,2022-08-19 14:55:06,17.1503,-25.0201,82.18,76,70,11.99
28,28,Faanui,PF,2022-08-19 14:55:06,-16.4833,-151.7500,78.49,75,85,20.22
32,32,Bengkulu,ID,2022-08-19 14:55:08,-3.8004,102.2655,77.34,88,99,5.03
34,34,Acajutla,SV,2022-08-19 14:55:09,13.5928,-89.8275,83.44,69,89,1.12
35,35,Makakilo City,US,2022-08-19 14:55:09,21.3469,-158.0858,77.32,78,40,0.00
37,37,Saint-Georges,GD,2022-08-19 14:50:30,12.0564,-61.7485,85.68,70,75,19.57
39,39,Boyolangu,ID,2022-08-19 14:55:11,-8.1181,111.8935,75.45,82,100,11.01

In [10]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [11]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
4          Albany      US     79.63  42.6001  -73.9662
13     Sao Filipe      CV     78.10  14.8961  -24.4956
24         Atuona      PF     76.60  -9.8000 -139.0333
27         Pombas      CV     82.18  17.1503  -25.0201
28         Faanui      PF     78.49 -16.4833 -151.7500
32       Bengkulu      ID     77.34  -3.8004  102.2655
34       Acajutla      SV     83.44  13.5928  -89.8275
35  Makakilo City      US     77.32  21.3469 -158.0858
37  Saint-Georges      GD     85.68  12.0564  -61.7485
39      Boyolangu      ID     75.45  -8.1181  111.8935

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Albany,US,79.63,42.6001,-73.9662,
13,Sao Filipe,CV,78.10,14.8961,-24.4956,Hotel Xaguate
24,Atuona,PF,76.60,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
27,Pombas,CV,82.18,17.1503,-25.0201,Paul Paradis
28,Faanui,PF,78.49,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
32,Bengkulu,ID,77.34,-3.8004,102.2655,Grage Hotel Bengkulu
34,Acajutla,SV,83.44,13.5928,-89.8275,Laureles
35,Makakilo City,US,77.32,21.3469,-158.0858,Marriott's Ko Olina Beach Club
37,Saint-Georges,GD,85.68,12.0564,-61.7485,Radisson Grenada Beach Resort
39,Boyolangu,ID,75.45,-8.1181,111.8935,Yos ega cv

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))